{% extends 'base.html' %}


{% block content %}



 <div class="container">

      <div class="row">
        <div class="col-8">
          
           <img class="fluid" src="../static/images/Gallery.jpg" alt="">  
                  </div>

<div class="container">

      <div class="row">
        <div class="col-8">
          
           <img class="fluid" src="../static/images/Gallery3.jpg" alt="">  
                  </div>


<div class="container">

      <div class="row">
        <div class="col-8">
          
           <img class="fluid" src="../static/images/Gallery4.jpg" alt="">  
                  </div>


<div class="container">

      <div class="row">
        <div class="col-8">
          
           <img class="fluid" src="../static/images/Gallery5.jpg" alt="">  
                  </div>

<!-- <img class="fluid" src="../static/images/Gallery3.jpg" alt=""> 

<img class="fluid" src="../static/images/Gallery4.jpg" alt=""> 

<img class="fluid" src="../static/images/Gallery5.jpg" alt=""> 
 -->
{% endblock %}