 {% extends 'base.html' %}
    
{% block content %}

    <!-- Header with Background Image -->
    <header class="headline">
      <div class="container">
        <div class="row">
          <div class="col">
            <!-- <img class="card-img-top" src="city.jpg" alt=""> -->
          </div>
        </div>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container">

      <div class="row">
        <div class="col-8">
          <h2>About Covieli Reyes</h2>
          <p>I was born on September 18, 2001; which meeans that, I am currently sixteen years old. I was born and raised in Chicago,IL. My parents were born and raised in Mexico, but migrated to the U.S. Meaining that, I am Mexican. I have really high goals set for myself, and I am not going to rest until I reach them.</p>
          <p>One of my favorite things to do is play soccer;as a matter a fact, I've been playing soccer for about 12 years. There has been some bad moments and some good moments as well. I am currently going to be a junior in high school. I attend to Mansueto High School, located in a community in Chicago, Brighton Park. I am really looking up to going to college, and getting a job that will help me bring my family up.   </p>
          <p>
            <a class="btn btn-primary btn-lg" href="#">Learn More &raquo;</a>
          </p>
        </div>
        <div class="col-4">
          <h2>Contact Me</h2>
          <address>
            <strong>Covieli Reyes</strong>
            <br>3013 W Cermak
            <br>Chicago, IL 60623
            <br>
          </address>
          <address>
            <abbr title="Phone">P:</abbr>
            (773) 864-0557
            <br>
            <abbr title="Email">E:</abbr>
            <a href="mailto:#">covieli.reyes@mansuetohighschool.org</a>
          </address>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="card">
            <img class="card-img-top" src="../static/images/soccer.jpeg" alt="">
            <div class="card-body">
              <h4 class="card-title">Soccer Experiences</h4>
              <p class="card-text">Soccer came into my life in a not so good way. However, it has helped me grow up so much as a person. There is many things to learn from in this beautiful sport.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img class="card-img-top" src="../static/images/education.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">Education Background
              </h4>
              <p class="card-text">School is the key to having a succesful life when you come from a not so wealthy family. School is the most importamt thing to do good on. In my opinion, I am not the best student, but I try my best.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
           <img class="card-img-top" src="../static/images/College.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">Future Goals</h4>
              <p class="card-text">College is defenetly I place I will go in the future to continue my education. I want to get a great job and make good money.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Find Out More!<a>
            </div>
          </div>
        </div>

      </div>

    </div>

    
      {% endblock %}
   
 